<h2>Confirma tu cuenta en {{ .SiteURL }}</h2>

<p>Haz click en el link para confirmar tu cuenta en {{ .SiteURL }}:</p>

<p>
  <a href="{{ .SiteURL }}/admin/#confirmation_token={{ .Token }}">Confirma tu email</a>
</p>
