<h2>Confirma el cambio de email para {{ .SiteURL }}</h2>

<p>
  Haz click en el link para confirmar tu cambio de email de {{ .Email }} a {{ .NewEmail }}
  para {{ .SiteURL }}:
</p>

<p><a href="{{ .SiteURL }}/admin/#email_change_token={{ .Token }}">Cambia tu email</a></p>
