<h2>Has sido invitado a unirte a: {{ .SiteURL }}</h2>

<p>
  Estás invitado a unirte a {{ .SiteURL }} Haz click en el link para aceptar tu
  invitación:
</p>

<p><a href="{{ .SiteURL }}/admin/#invite_token={{ .Token }}">Aceptar invitación</a></p>
