<h2>Reestablecer contraseña en {{ .SiteURL }}</h2>

<p>Haz click en el link para reestablecer tu contraseña en {{ .SiteURL }}:</p>

<p>
  <a href="{{ .SiteURL }}/admin/#recovery_token={{ .Token }}">Reestablecer contraseña</a>
</p>
