
<link rel="canonical" href="{{ currentUrl }}" />

{% if site.authorMastodon %}
  <link rel="me" href="{{ site.authorMastodon }}">
{% endif %}

<meta name="generator" content="Eleventy">
<meta property="og:site_name" content="{{ siteTitle }}" />
<meta property="og:title" content="{{ pageTitle }}" />
<meta property="twitter:title" content="{{ pageTitle }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ currentUrl }}" />
<meta property="og:locale " content="{{ site.lang }}" />

{% if not socialImage %}
  {% set socialImage = site.url + '/images/social-images/' + (title | slugify) + '.png' %}
{% endif %}
<meta name="twitter:card" content="summary_large_image" />
<meta property="og:image" content="{{ socialImage }}" />
<meta name="twitter:image" content="{{ socialImage }}" />
<meta property="og:image:alt" content="Imagen de página para {{ site.name }}" />
<meta name="twitter:image:alt" content="Imagen de página para {{ site.name }}" />

{% if metaDesc %}
  <meta name="description" content="{{ metaDesc }}" />
  <meta name="twitter:description" content="{{ metaDesc }}" />
  <meta property="og:description" content="{{ metaDesc }}" />
{% endif %}

{% if site.authorHandle %}
  <meta name="twitter:creator" content="@{{ site.authorHandle | replace('@', '') }}" />
{% endif %}

{% if site.siteHandle %}
  <meta name="twitter:site" content="@{{ site.siteHandle | replace('@', '') }}" />
{% endif %}

{% if site.paymentPointer %}
  <meta name="monetization" content="{{ site.paymentPointer }}" />
{% endif %}

{# If structured data is added netlify.toml line must be updated:
script-src 'self' 'sha256-47DEQpj8HBSa-_TImW-5JCeuQeRkm5NMpJWZG3hSuFU='; 
with corresponding sha256- #}
{# <script type="application/ld+json">
{
  "@context":"https://schema.org/",
  "@type":"WebSite",
  "name":"{{ siteTitle }}",
  "url":"{{ site.url }}",
  "image":{
    "@type":"imageObject",
    "url":"{{ site.url }}/android-chrome-512x512.png",
    "width":"512",
    "height":"512"
  }
}
</script> #}